apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubeai-autoscaler-controller
  namespace: kubeai-system
  labels:
    app.kubernetes.io/name: kubeai-autoscaler
    app.kubernetes.io/component: controller
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeai-autoscaler-controller
  labels:
    app.kubernetes.io/name: kubeai-autoscaler
    app.kubernetes.io/component: controller
rules:
  - apiGroups:
      - kubeai.io
    resources:
      - aiinferenceautoscalerpolicies
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - kubeai.io
    resources:
      - aiinferenceautoscalerpolicies/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - kubeai.io
    resources:
      - aiinferenceautoscalerpolicies/finalizers
    verbs:
      - update
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubeai-autoscaler-controller
  labels:
    app.kubernetes.io/name: kubeai-autoscaler
    app.kubernetes.io/component: controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubeai-autoscaler-controller
subjects:
  - kind: ServiceAccount
    name: kubeai-autoscaler-controller
    namespace: kubeai-system
